<?xml version="1.0" encoding="UTF-8"?>

<!-- 这个文件用来配置基于metro的webservice -->

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:ws="http://jax-ws.dev.java.net/spring/core"
  xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
    http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
    http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd" 
    default-autowire="byName">

	
	<!--<wss:binding url="/webService">
	 	<wss:service>
	 		<ws:service bean="#appWebService" impl="com.fortunes.webservice.AppWebService"/>
	 	</wss:service>
	 </wss:binding>
--></beans>
