<?xml version="1.0" encoding="UTF-8"?>

<!-- 这个是Spring的主要配置文件,用来配置事务,日志,数据源等 -->

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
		default-autowire="byName">
		
	<bean id="defaultDs" destroy-method="close" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/fjdp"/>
		<property name="user" value="root"/>
		<property name="password" value="fortunes"/>
		<property name="maxIdleTime" value="1800"/>
	</bean>
	

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="defaultDs"/>
        <property name="annotatedClasses">
		   <list>
		      <value>com.fortunes.fjdp.admin.model.Config</value>
		      <value>com.fortunes.fjdp.admin.model.Menu</value>
		      <value>com.fortunes.fjdp.admin.model.Dict</value>
		      <value>com.fortunes.fjdp.admin.model.Privilege</value>
		      <value>com.fortunes.fjdp.admin.model.Role</value>
		      <value>com.fortunes.fjdp.admin.model.User</value>
		      <value>com.fortunes.fjdp.admin.model.Employee</value>
		      <value>com.fortunes.fjdp.admin.model.Organization</value>
		      <value>com.fortunes.fjdp.admin.model.Notice</value>
		      <value>com.fortunes.fjdp.admin.model.NoticeMessage</value>
		      <value>com.fortunes.fjdp.admin.model.UserMessage</value>
		      <value>com.fortunes.fjdp.admin.model.Notice</value>
		      <value>com.fortunes.fjdp.admin.model.Log</value>
		      
		      <!--
		      <value type="resource">jbpm.repository.hbm.xml</value>
		      <value type="resource">jbpm.execution.hbm.xml</value>
		      <value type="resource">jbpm.history.hbm.xml</value>
		      <value type="resource">jbpm.task.hbm.xml</value>
		      -->
		   </list>
		 </property>
		 
		 <property name="hibernateProperties">
			  <props>
					<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
					<prop key="hibernate.show_sql">true</prop>
					<prop key="hibernate.hbm2ddl.auto">update</prop>
			  </props>
		</property>
    </bean>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="defaultDs"/>
    </bean>
    
    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
    	<property name="transactionManager" ref="txManager"/>
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>	
	</bean>
	
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    	<property name="dataSource" ref="defaultDs"/>
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <tx:advice id="txAdvice" transaction-manager="txManager" >
    	<tx:attributes>
    		<tx:method name="has*" read-only="true"/>
    		<tx:method name="get*" read-only="true"/>
    		<tx:method name="load*" read-only="true"/>
    		<tx:method name="*" />
    	</tx:attributes>
    </tx:advice>
    
    <bean id="logAdvice" class="net.fortunes.core.log.LogAdvice"/>
    
    <aop:config>
    	<aop:advisor advice-ref="txAdvice" 
    		pointcut="execution(* *.fortunes..*Service.*(..)) or execution(* misc..*execute(..))"/>
    	<aop:advisor advice-ref="logAdvice" 
    		pointcut="execution(* *.fortunes..*Service.*(..)) "/>
    </aop:config>
       
	
    
    
    <context:annotation-config/>
    <context:component-scan base-package="net.fortunes,com.fortunes"/>
    
    

</beans>
